@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body {
  font-size: 16px;
  background-color: #c6d0bc;
  line-height: 1.5;
  font-family: 'Times New Roman', 'Noto Sans TC', serif;
}

mjx-stretchy-h > mjx-ext > mjx-c::before {
  transform: none !important;
}
mjx-stretchy-h > mjx-ext > mjx-c {
  transform: scalex(500);
}
