.content {
  padding: 0 23px 30px 23px;
}
.title {
  width: fit-content;
  padding: 0 20px;
  font-size: 24px;
  font-weight: bold;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card {
  padding: 5px;
  border-top: 1px solid #000000;
}
