.content {
  width: 17.2cm;
  margin: 0 auto 0.8cm auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block {
  width: 50%;
}
.title {
  width: fit-content;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card {
  padding: 5px 5px 3.5cm 5px;
  border-top: 1px solid #000000;
}
.right {
  border-left: 1px solid #000000;
}
.ans {
  font-size: 13px;
  color: #5b81ff;
  float: right;
}
.img {
  max-width: 100%;
  max-height: 4cm;
}
