.content {
  padding-bottom: 30px;
}
.title {
  width: fit-content;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.card {
  border-top: 1px solid #000000;
  padding: 5px;
  width: 50%;
}
.left {
  border-right: 1px dashed #000000;
}
