.content {
  padding-bottom: 0.8cm;
  width: 17.2cm;
  margin: 0 auto;
}
.title {
  width: fit-content;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #000000;
}
.card {
  box-sizing: border-box;
  padding: 5px;
  width: 50%;
}
.left {
  border-right: 1px dashed #000000;
}
.odd {
  width: 100%;
  border-right: none;
}
img {
  max-width: 100%;
  max-height: 4cm;
}
