.page {
  height: 27.1cm;
  padding: 1.2cm 0;
  page-break-after: always;
  position: relative;

  .pageNum {
    position: absolute;
    bottom: 1.2cm;
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    min-width: 0.8cm;
    text-align: center;
  }
  .right {
    right: 0.8cm;
  }
  .left {
    left: 0.8cm;
  }
}
