.content {
  padding: 0 22px 30px 22px;
}
.title {
  width: fit-content;
  padding: 0 20px;
  font-weight: bold;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.grid {
  border-top: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
}
.card {
  padding: 5px;
  width: 50%;
}
.left {
  border-right: 1px solid #000000;
}
