.grid {
  width: 16cm;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.left {
  border-right: 1px solid #000000;
}
.card {
  box-sizing: border-box;
  width: 50%;
  > div {
    padding: 5px;
    border-top: 1px solid #000000;
  }
}
