.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 23px;
}
.left {
  border-right: 1px solid #000000;
}
.card {
  width: 50%;
  > div {
    padding: 5px;
    border-top: 1px solid #000000;
  }
}
