.content {
  padding: 20px;
}
.ans {
  font-size: 13px;
  color: #5b81ff;
}
.img {
  max-height: 160px;
  max-width: 160px;
  float: right;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
