.content {
  padding: 20px;
}
.ans {
  font-size: 13px;
  color: #5b81ff;
}
.img {
  min-height: 100px;
  min-width: 100px;
  max-height: 160px;
  max-width: 160px;
  float: right;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.imageOption {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  > div {
    display: flex;
    > div > img {
      max-height: 160px;
    }
  }
}
